<header id="page-topbar" class="new-header">
  <div class="navbar-header bg-light">
    <div class="d-flex w-100">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a routerLink="/" class="logo logo-dark">
          <span class="logo-sm">
            <img src="assets/images/logo.png" alt="" height="22">
          </span>
          <span class="logo-lg">
            <img src="assets/images/logo.png" alt="" height="17">
          </span>
        </a>

        <a routerLink="/" class="logo logo-light">
          <span class="logo-sm">
            <img src="assets/images/logo.png" alt="" height="35">
          </span>
          <span class="logo-lg">
            <img src="assets/images/logo.png" alt="" height="24">
          </span>
        </a>
      </div>
      <button type="button" class="btn btn-sm px-3 font-size-16 header-item text-black" id="vertical-menu-btn"
        (click)="toggleMobileMenu($event)">
        <i class="fa fa-fw fa-bars"></i>
      </button>
      <div class="centered-header-text" >
        <div class="heading">
          <h4 style="padding-bottom: 0px; margin-bottom: 0px;">HIGHER EDUCATION STUDENTS' LOANS BOARD</h4>
          Online Loan Application and Management System
        </div>
      </div>
    </div>
  </div>
</header>