<div class="col-lg-12">
  <div class="card">
    <div class="card-body text-center">

        <h4 class="card-title text-center olams-h4">Enter your index number you intended to use  for admission (TCU)</h4>
        <p class="card-title-desc text-center">Jaza namba yako ya kidato che Nne utakayotumia kuomba chuo</p>

        <div class="row">
          <div class="col-md-6">
            <div class="mb-3 position-relative">
              <label for="validationTooltip03">Form Four Index Number</label>
              <input type="text" class="form-control" id="validationTooltip03" placeholder="Enter you form four index number"
              [(ngModel)]="prefix_index_no" >
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3 position-relative">
              <label for="validationTooltip04">Completion Year</label>
              <input (keyup)="searchApplicant()" [(ngModel)]="sufix_index_no" type="text" class="form-control" id="validationTooltip04" placeholder="Enter your completion year">
            </div>
          </div>
        </div>
       
        <div class="row">
          <div class="col-md-12">
            <h4 _ngcontent-pkl-c257="" class="card-title mt-0 olams-h4">
            <Strong *ngIf="searched_applicant?.data?.applicant?.first_name" >Form four Exam sit (Mithani wa kidato cha nne ): Oversee(Nje ya Nchi)</Strong></h4>
            <p *ngIf="searched_applicant?.data?.applicant?.first_name" _ngcontent-pkl-c257="" style="color: red" class="card-text">Full Name: {{ searched_applicant?.data?.applicant?.first_name?? ""}} {{ searched_applicant?.data?.applicant?.last_name??""}}</p>
          </div>
        </div>
      </div>
      
        <div>
        <ng-template *ngIf="payments_found then ShowPaymentStatus else ShowUpdateContactAndPaymentForm">

        </ng-template>
        <ng-template #ShowPaymentStatus>
          <ng-template *ngIf="control_no_exists_and_paid then ShowMessageForSuccessPaymentAndContinue else ShowMessageToPay">

          </ng-template>
      <ng-template #ShowMessageForSuccessPaymentAndContinue>
        <div class="alert-success alert alert-sucess fade show text-center" role="alert">
          <h4  class="alert-heading p-0 m-0">{{searched_applicant.data.payment_details[0].control_number}}</h4>
          <p>You successfully paid <Strong>{{searched_applicant.data.payment_details[0].amount_paid}} Tsh</Strong> For your loan application</p>
          <p>Reference Id: <Strong>{{searched_applicant.data.payment_details[0].reference}}</Strong> For you application</p>
          <div *ngIf="searched_applicant"  class="d-flex justify-content-center p-0 m-0">
            <button (click)="gotoSelfRegistration()"   _ngcontent-jhm-c256="" type="button" class="btn btn-outline-primary"><i _ngcontent-jhm-c256="" class="bx bx-smile font-size-16 align-middle me-2"></i> Continue to create an Account</button>
          </div>
          <hr>
        </div>

      </ng-template>

      <ng-template #ShowMessageToPay>

        <div  class="alert-danger alert alert-danger fade show fade-up text-center" role="alert">
          <h4 class="alert-heading ">{{searched_applicant.data.payment_details[0].control_number}}</h4>
          <p>You have to make payments for the given control in order to continue with next step</p>
          <hr>
        </div>
      </ng-template>
      </ng-template>

    
        <ng-template #ShowUpdateContactAndPaymentForm>
          <div class="col-lg-12 " *ngIf="searched_applicant">
            <div class="card">
              <div class="card-body">
                <div class="form-field-header" >
                  <h6 class="card-title-desc">Enter your names as on your form four certificate(Andika majina yako kama yalivo andikwa katika vyeti vyako vya kidato cha Nne)</h6>
              </div>
                <form class="needs-validation" (ngSubmit)=" upddateContactInfosformSubmit()" [formGroup]="update_contact_applicant_form">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3 position-relative">
                        <label for="validationTooltipfname">First name </label>
                        <div class="input-group">
                      
                          <input type="text" class="form-control" id="validationTooltipUsername" formControlName="first_name"
                            placeholder="first_name" aria-describedby="validationTooltipfirst_namePrepend"
                            [ngClass]="{'is-invalid': formsubmit && formData.first_name.errors}">
          
                          <div *ngIf="formsubmit && formData.first_name.errors" class="invalid-tooltip">
                            <span *ngIf="formData.first_name.errors.required">This field is required.</span>
                          </div>
                        </div>
                      </div>
                    </div>
          
                    <div class="col-md-6">
                      <div class="mb-3 position-relative">
                        <label for="validationTooltipl_name">last name</label>
                        <div class="input-group">
                         
                          <input type="text" class="form-control" id="validationTooltipUsername" formControlName="last_name"
                            placeholder="last_name" aria-describedby="validationTooltiplast_namePrepend"
                            [ngClass]="{'is-invalid': formsubmit && formData.last_name.errors}">
          
                          <div *ngIf="formsubmit && formData.last_name.errors" class="invalid-tooltip">
                            <span *ngIf="formData.last_name.errors.required">This field is required</span>
                          </div>
                        </div>
                      </div>
                    </div>
          
                    <div class="col-md-6">
                      <div class="mb-3 position-relative">
                        <label for="validationTooltipmiddle_name">Middle name</label>
                        <div class="input-group">
                        
                          <input type="text" class="form-control" id="validationTooltipmiddle_name" formControlName="middle_name"
                            placeholder="middle_name" aria-describedby="validationTooltipmiddle_namePrepend"
                            [ngClass]="{'is-invalid': formsubmit && formData.middle_name.errors}">
          
                          <div *ngIf="formsubmit && formData.middle_name.errors" class="invalid-tooltip">
                            <span *ngIf="formData.middle_name.errors.required">This field is required</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="mb-3 position-relative">
                        <label for="validationTooltipsur_name">Surname</label>
                        <div class="input-group">
                        
                          <input type="text" class="form-control" id="validationTooltipsur_name" formControlName="sur_name"
                            placeholder="sur_name" aria-describedby="validationTooltipsur_namePrepend"
                            [ngClass]="{'is-invalid': formsubmit && formData.sur_name.errors}">
          
                          <div *ngIf="formsubmit && formData.sur_name.errors" class="invalid-tooltip">
                            <span *ngIf="formData.sur_name.errors.required">This field is required</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  <div class="row">
                    
                  <div class="col-md-6">
                    <label for="sex">Sex </label>
                    <div class="select-group">
                      <select  class="form-control" formControlName="sex" [ngClass]="{'is-invalid': formsubmit && formData.sex.errors}">
                        <option disabled value="" selected>choose your gender</option>
                        <option value="M" selected>Male</option>
                        <option value="F" selected>Female<option>
                      </select>
                      <div *ngIf="formsubmit && formData.sex.errors" class="invalid-tooltip">
                        <span *ngIf="formData.sex.errors.required">This field is required</span>
                      </div>
                    </div>
                  </div>
                  
               
                  <div class="col-md-6">
                    <label for="candidate_category">Candidate Category </label>
                    <div class="select-group">
                      <select  class="form-control" formControlName="candidate_category" [ngClass]="{'is-invalid': formsubmit && formData.candidate_category.errors}">
                        <option disabled value="" selected>Choose your Application category</option>
                        <option value="PGD" selected>PGD</option>
                        <option value="LUG" selected>LUG<option>
                        <option value="PGDL" selected>PGDL<option>
                      </select>
                      <div *ngIf="formsubmit && formData.candidate_category.errors" class="invalid-tooltip">
                        <span *ngIf="formData.candidate_category.errors.required">This field is required</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="mb-3 position-relative">
                      <label for="validationTooltipphone_number">Phone number</label>
                      <div class="input-group">
                       
                        <input type="text" class="form-control" id="validationTooltipUsername" formControlName="phone_number"
                          placeholder="phone_number" aria-describedby="validationTooltipphone_numberPrepend"
                          [ngClass]="{'is-invalid': formsubmit && formData.phone_number.errors}">
        
                        <div *ngIf="formsubmit && formData.phone_number.errors" class="invalid-tooltip">
                          <span *ngIf="formData.phone_number.errors.required">This field is required</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="mb-3 position-relative">
                      <label for="validationTooltipemail">Email</label>
                      <div class="input-group">
                       
                        <input type="text" class="form-control" id="validationTooltipemail" formControlName="email"
                          placeholder="email" aria-describedby="validationTooltipemailPrepend"
                          [ngClass]="{'is-invalid': formsubmit && formData.email.errors}">
        
                        <div *ngIf="formsubmit && formData.email.errors" class="invalid-tooltip">
                          <span *ngIf="formData.email.errors.required">This field is required</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                  <div>
                    <div class="row">
                      <div *ngIf="is_checking_status" class="col-md-12 text-center">
                        <div role="status" class="ms-2 spinner-border text-info"><span class="visually-hidden">Loading...</span></div>
                      </div>
                      <div *ngIf="applicant_payment_status_model?.data?.control_number else elseBlock" class="col-md-12">
                        <div>
                          <div class="alert-success alert alert-success fade show" role="alert">
                          <h4 class="alert-heading">{{applicant_payment_status_model?.data?.control_number}}</h4>
                          <p>{{applicant_payment_status_model?.message}}.</p>
                          <hr>
                        </div>
                      </div>
                      
                      </div>
                      <ng-template  #elseBlock >
                        <div *ngIf="applicant_payment_status_model?.data" class="col-md-12">
                        <div class="alert-dismissible fade show alert alert-danger alert-dismissible fade show" role="alert">
                          <button type="button" class="btn-close" aria-label="Close"></button>
                          <i class="mdi mdi-block-helper me-2"></i> {{applicant_payment_status_model?.message}}!
                        </div>
                        </div>
                      </ng-template>
                    </div>
                    <div class="d-flex justify-content-end">
                      <ng-container *ngIf="control_number_generated == true" >
                        <button  _ngcontent-jhm-c256="" type="submit" class="btn btn-outline-danger disabled"><i _ngcontent-jhm-c256="" class="bx bx-smile font-size-16 align-middle me-2"></i> pay to continue </button>
                       
                      </ng-container>
                       <button *ngIf="control_number_generated == false" _ngcontent-jhm-c256="" type="submit" class="btn btn-outline-primary"><i _ngcontent-jhm-c256="" class="bx bx-smile font-size-16 align-middle me-2"></i> submit </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- end card -->
          </div> <!-- end col -->
        </ng-template>

         
      <!-- </form> -->
    </div>
  </div>
  <!-- end card -->
</div> <!-- end col -->



